<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>436394473531-v10ri62n10aj88albuari81e5t46hbuc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436394473531-v10ri62n10aj88albuari81e5t46hbuc</string>
	<key>API_KEY</key>
	<string>AIzaSyBhksLAM3Zw139ZZiS5RMOsb-RZ9LVHda4</string>
	<key>GCM_SENDER_ID</key>
	<string>436394473531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pwang.Makestagram</string>
	<key>PROJECT_ID</key>
	<string>makestagram-92020</string>
	<key>STORAGE_BUCKET</key>
	<string>makestagram-92020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:436394473531:ios:a2c7374a4c012d73</string>
	<key>DATABASE_URL</key>
	<string>https://makestagram-92020.firebaseio.com</string>
</dict>
</plist>